* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
}

body {
    background-color: #162831;
}

header {
    width: 80%;
    margin: auto;
}

/* header nav {
    display: flex;
    align-items: center;
    justify-content: center;
} */
header nav .ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

header nav .ul ul {
    display: flex;
}

header nav .ul ul li {
    margin: 0 30px;
}
header .body {
    width: 100%;
}
header .body .image {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 600px;
    background-image: url(./photos/first-screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

header .body .seans {
    margin-top: 30px;
    margin-top: 8%;
    margin-bottom: 30px;
    width: 100%;
}

header .body .seans article {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center
}

header .body .seans article img {
    transform: rotate(180deg);
    width: auto;
    height: 10px;
    margin: 10px 40px;
}

.ritm  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* margin: 10%; */
    width: 100%;
}
.ritm  .main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* margin: 10%; */
    width: 80%; 
    display: flex;
    margin-left: 15%;
}
 .main .left {
    margin: 10px;
}
 .main .right img {
    margin: 10px;
}
section .section_start {
    width: 95%;
    margin-top: 8%;
    margin: auto;
}
section .section_start main img{
    margin: 10px;
}
section .section_start main .i_one{
    margin-left: 35px;
}
section .section_start main .i_two{
    margin-top: 35px;
}
section .section_start main .i_three{
    /* margin-left: 35px; */
}
section .section_start article {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center
}
section .section_start article  img{
    margin-top: 8%;
    transform: rotate(180deg);
    width: auto;
    height: 10px;
    margin: 10px 40px;
}
section .section_start img {
    margin-top: 8%;
    margin: auto;
}
section .section_center {
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 8%;
}
section .section_center main {
    height: 300px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
section .section_center article {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center
}
section .section_center article  img{
    transform: rotate(180deg);
    width: auto;
    height: 10px;
    margin: 10px 40px;
}
section .section_center img {
    margin: auto;
}
section .section_center .text {
    margin: 65px;
}
section .section_center .top {
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
section .section_center .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .section_end {
    width: 60%;
    margin: auto;
    margin-top: 8%;
}
section .section_end article {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center
}
section .section_end article  img{
    transform: rotate(180deg);
    width: auto;
    height: 10px;
    margin: 10px 40px;
}
section .section_end img {
    margin: auto;
}
section .section_end main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .section_end main .left .texts{
    width: 350px;
}
section .section_end main .left .texts p{
    display: inline-block;
    margin: 0 40px 25px 0;
}
section .section_end main .left .texts p img{
    margin: 0 30px 0px 0;
}
section .section_end main .left .texts span{
    float: right;
}